<h4>Post details:</h4>
<p style="font-style: oblique">
<%= @result['content'] %>
</p>
<p style="font-style: italic; display: block; width: 220px; border-top: 1px solid black; ">
Added at: <%= @result['created_date'] %>
</p>